{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block stylesheet %}
<style>
  .form-group {
    margin-bottom: 15px;
  }

  label {
    margin-bottom: 5px;
  }
</style>
{% endblock stylesheet %}

{% block content %}

<div class="container pd-x-0">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center mb-4">
        <img src="{% static 'images/logo_fpma.png' %}" alt="Logo" style="height: 160px;">
        <h3 class="mt-5">
          L'inscription sera ouverte le mardi 30 mars <br> à partir de 18h30<br>
          <div id="countdown"></div>
        </h3>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block scripts %}
<script>
  var countDownDate = new Date("2021-03-30T18:30:00").getTime();
  
  // Update the count down every 1 second
  var x = setInterval(function() {
  
    // Get today's date and time
    var now = new Date().getTime();
  
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
  
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
    // Display the result in the element with id="demo"
    document.getElementById("countdown").innerHTML = "dans " + hours + "h "
    + minutes + "mn " + seconds + "s ";
  
    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = '<a href=".">Accéder à l\'inscription</a>';
    }
  }, 1000);
  </script>
{% endblock %}