{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container pd-x-0">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      {{ event.name }}

      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
              <button type="submit" name="valid" class="btn btn-primary btn-block">S'inscrire</button>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}