{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block stylesheet %}
<style>
  .form-group { margin-bottom: 15px; }
  label { margin-bottom: 5px; }
</style>
{% endblock stylesheet %}
  
{% block content %}

<div class="container pd-x-0">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center mb-4">
        <img src="{% static 'images/logo_fpma.png' %}" alt="Logo" style="height: 160px;">
        <h3 class="mt-5">
          Formulaire d'inscription pour {{ event.name }}
        </h3>
        
        <h4>Nombre de places restantes à cet instant : <strong class="text-danger">{{ places_restantes }}</strong></h4>

        <h5>Inscription par foyer uniquement. <br>Les enfants qui occupent une place doivent également être inscrits.</h5>
      </div>
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
              <button type="submit" name="valid" class="w-100 btn btn-primary btn-block">S'inscrire</button>
            {% endbuttons %}
            <p>Vous recevrez un mail de confirmation d'inscription</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script>
  $("#id_number").on("change", function() {
    updateListName();
  });
  updateListName();
  function updateListName() {
    var number = $("#id_number").val();
    $(".prenom_accomp").prop("disabled", true).closest(".form-group").hide();
    $(".prenom_accomp").each(function(index, el) {
      if ($(this).data('i') < number) {
        $(this).prop("disabled", false).closest(".form-group").show();
      }
    });
  }
</script>
{% endblock %}